<html>
<body>
      <form method="post" action="/flight">
        <input type="text" name='first_name' placeholder="first name" required="required">
        <input type="text" name='last_number' placeholder="last name" required="required">
        <input type="number" name='flight_no' placeholder="flight_no" required="required">
        <input type="email" name='email_id' placeholder="email_id" required="required">
        <button>Registration</button>
      </form>
      <body style="background-color:powderblue;"></body>


</body>
</html>
